.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 64px;
  align-self: center;
  z-index: 2;
  /* перекрывающий слой - 3 */
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
